<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ivr.api.dal.ticket.mapper.TrainMapper">
    <resultMap id="BaseResultMap" type="org.ivr.api.dal.ticket.po.TrainPO">
        <id column="train_id" jdbcType="VARCHAR" property="trainId"/>
        <result column="from_station_id" jdbcType="BIGINT" property="fromStationId"/>
        <result column="to_station_id" jdbcType="BIGINT" property="toStationId"/>
        <result column="train_type" jdbcType="VARCHAR" property="trainType"
                typeHandler="org.ivr.api.dal.ticket.typehandler.TrainTypeEnumTypeHandler"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
    </resultMap>

    <sql id="Base_Column_List">
        train_id, from_station_id, to_station_id, train_type, code
    </sql>

    <select id="selectByTrainId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from train
        where train_id = #{trainId};
    </select>
</mapper>